@import "tailwindcss";

/* If you have custom variables, you can put them here */
:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}